<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <br/>
  <br/>
  <div class="row">
    <div class="col-sm-4">
        <h4 style="font-family: cursive;">Gurukulam Pre-School,Mahalakshmi Puram, 12th Cross Rd, 
          West of Chord Road 2nd Stage, West of Chord Rd, Stage 2, Nagapura, Bangalore, Karnataka 560050, India</h4>
          
      </div>
      <div class="col-sm-4">
          <h4 style="font-family: cursive;">Gurukulam Pre-School,673/8, 9th Main Rd, Hanumanthnagar, Banashankari Stage I, Banashankari, Bengaluru, Karnataka 560050, India</h4>
        </div>
        <div class="col-sm-4">
          <h4 style="font-family: cursive;">Gurululam Pre-School,# 2, 1st Main Rd, Venkata Reddy Layout, 6th Block, Koramangala, Bengaluru, Karnataka 560095, India</h4>
        </div>
        </div><br/>
        <div class="row">
            <div class="col-sm-4">
  <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px;width:600px">
    <iframe src="https://maps.google.com/maps?q=gurukulamrajajinagar&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
      style="border:0" ></iframe>
  </div>
  </div>
  <div class="col-sm-4">
    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px;width:600px">
      <iframe src="https://maps.google.com/maps?q=littlechampsgurukulambanashankari&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
        style="border:0" ></iframe>
    </div>
      </div>
      <div class="col-sm-4">
        <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px;width:600px">
          <iframe src="https://maps.google.com/maps?q=grurkulamkoramangala&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" ></iframe>
        </div>
      </div>
</div>
  </div>
  