<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container">
  <br/>
  <br/>
  
  <div class="row">
    <div class="col-sm-6 offset-sm-2">
     
     <h1>ENQUIRY</h1>
    </div>
    <div class="col-sm-6 offset-sm-2">
      <h1>REGISTER</h1>
    </div>
  </div><br/>
  <div class="row">
    <div class="col-sm-6 offset-sm-2">
     <h1>ADMISSION</h1>
    </div>
    <div class="col-sm-6 offset-sm-2">
     <h1>LOGIN</h1>
    </div>
  </div>
  
  