<img src="/assets/gps4.jpg" width="1300" height="600">
<div class = "container" style="width:500px;height:500px;">
  <form [formGroup] = "forgotpswForm" (ngSubmit)= "onSubmit()">
    <div class="panel">
      <div class="panel-heading text-center">
<div class="panel-title">  <h1>Forgot Password</h1></div>
</div>
<div class="panel-body">
    <div class="form-group">
      <label for="email">Email ID</label>
      <input type="text" formControlName="email" class="form-control"  placeholder="Email ID" [ngClass]="{'is-invalid':submitted && f.email.errors}" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required" style="color:red">Email is required</div>
      </div>
    </div>
  </div>
    <button class="btn btn-primary" [disabled]="loading">Reset Password</button>
  </div>
    </form>
    </div>
