.container{
    left:50%;
    top:50%;
    width:50%;
    transform:translate(-50%,-50%);
    position: relative;
    padding-bottom:50%;
   
}
  .panel{
      color:white;
      background: rgba(0, 0, 0, 0.5);
  }
  .form-control{
      font-size:20px;
  }
.btn{
    font-size: 20px;
}
