<div class="container"><br/>
  <h1 style="font-family: cursive;">About the Pre-School</h1><br/>
<div class="row">
  <div class="col-sm-5">
    <img src="/assets/gps3.jpg" width="70%" height="60%">
  </div>
  <div class="col-sm-7">
     <h4 style="font-family: cursive;font-optical-sizing: 20px;"> Preschool is an early childhood program in which children combine learning with play in a program run by professionally trained adults. 
       Children are most commonly enrolled in preschool between the ages of three and five, though those as young as two can attend some schools. 
       Preschools are different from traditional day care in that their emphasis is learning and development rather than enabling parents to work 
       or pursue other activities.</h4>
  </div>
</div>
</div>
<br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/>